//Colores Sakura
$color_Sakura-dress1: #F2AEC7;
$color_Sakura-ayes: #009572;
$color_Sakura-dress2:#D17C9B;
$color_Sakura-hair: #A1774F;
$color_Sakura-Wand: #FFC366;
//Libro Sakura
$color-theme_Sakura-Book-Covers-Unsealed-by-Earthstar01-on-DeviantArt-1-hex: #F21B7F;
$color-theme_Sakura-Book-Covers-Unsealed-by-Earthstar01-on-DeviantArt-2-hex: #F280BF;
$color-theme_Sakura-Book-Covers-Unsealed-by-Earthstar01-on-DeviantArt-3-hex: #F2BA52;
$color-theme_Sakura-Book-Covers-Unsealed-by-Earthstar01-on-DeviantArt-4-hex: #F2AF5C;
$color-theme_Sakura-Book-Covers-Unsealed-by-Earthstar01-on-DeviantArt-5-hex: #D90404;
