
body{
    cursor: url("Imagenes Sakura/Varita-mouse.png"), auto;
}
.navbar-vertical {
    height: 100%; /* Ajusta la altura según tus necesidades */
    overflow-y: auto; /* Agrega barras de desplazamiento vertical cuando sea necesario */
}

.navbar-vertical ul {
    list-style-type: none; /* Elimina los puntos de la lista */
    margin: 0;
    padding: 0;
}

.navbar-vertical li {
    padding: 8px 16px; /* Agrega algo de espaciado alrededor de los elementos de la lista */
}

.navbar-vertical a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #333; /* Cambia el color del texto según tus preferencias */
}