@use "colores" ;
.Fondo-Sakura{
    background-color: colores.$color_Sakura-dress1;
}
.Fondo-Libro-Sakura{
    background-color: colores.$color-libro-Sakura2;
}
.Fondo-Carta-Sakura{
    background-color: colores.$Color-Carta-Sakura-2-hex;
}
.Fondo-Carta-Clow{
    background-color: colores.$color-Carta-Clow5;
}
.Fondo-Clow{
    background-color: colores.$color-Libro-clow1;
}