// Importar fuentes externas
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/6dc5bab84deea2a328685156d3016b19?family=times+new+vespasian);

/*
// Mixin para definir estilos de tipografía
@mixin font-style($font-family, $font-size, $line-height, $font-weight: normal, $font-style: normal) {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
  font-style: $font-style;
}

// Fuente para el titulo
.title-font {
  @include font-style('Times New Vespasian', 24px, 1.2, normal);
}

// Fuente para el subtitulo
.subtitle-font {
  @include font-style('Montserrat', 20px, 1.5, normal, italic);
}

// Fuente para el cuerpo
.body-font {
  @include font-style('Noto Sans', 16px, 1.3, normal);
}
*/

// Tipo de letras
$font-family1: 'Times New Vespasian';
$font-family2: 'Montserrat';
$font-family3: 'Noto Sans';

//Tamaño de letras
$big: 60px;
$medium: 35px;
$small:20px;
$smaller: 10px;

//Grosor de letra
$font-weight1:bolder;
$font-weight2:bold;
$font-weight3:lighter;