.m-Sakura {
  margin: 0 !important;
}

.m-Keroberos {
  margin: 0.25rem !important;
}

.m-Tomoyo {
  margin: 0.5rem !important;
}

.m-Shaoran {
  margin: 1rem !important;
}

.m-Yue {
  margin: 1.5rem !important;
}

.m-Clow {
  margin: 3rem !important;
}

.mt-Sakura {
  margin-top: 0 !important;
}

.mt-Keroberos {
  margin-top: 0.25rem !important;
}

.mt-Tomoyo {
  margin-top: 0.5rem !important;
}

.mt-Shaoran {
  margin-top: 1rem !important;
}

.mt-Yue {
  margin-top: 1.5rem !important;
}

.mt-Clow {
  margin-top: 3rem !important;
}

.mr-Sakura {
  margin-right: 0 !important;
}

.mr-Keroberos {
  margin-right: 0.25rem !important;
}

.mr-Tomoyo {
  margin-right: 0.5rem !important;
}

.mr-Shaoran {
  margin-right: 1rem !important;
}

.mr-Yue {
  margin-right: 1.5rem !important;
}

.mr-Clow {
  margin-right: 3rem !important;
}

.mb-Sakura {
  margin-bottom: 0 !important;
}

.mb-Keroberos {
  margin-bottom: 0.25rem !important;
}

.mb-Tomoyo {
  margin-bottom: 0.5rem !important;
}

.mb-Shaoran {
  margin-bottom: 1rem !important;
}

.mb-Yue {
  margin-bottom: 1.5rem !important;
}

.mb-Clow {
  margin-bottom: 3rem !important;
}

.ml-Sakura {
  margin-left: 0 !important;
}

.ml-Keroberos {
  margin-left: 0.25rem !important;
}

.ml-Tomoyo {
  margin-left: 0.5rem !important;
}

.ml-Shaoran {
  margin-left: 1rem !important;
}

.ml-Yue {
  margin-left: 1.5rem !important;
}

.ml-Clow {
  margin-left: 3rem !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.p-Sakura {
  padding: 0 !important;
}

.p-Keroberos {
  padding: 0.25rem !important;
}

.p-Tomoyo {
  padding: 0.5rem !important;
}

.p-Shaoran {
  padding: 1rem !important;
}

.p-Yue {
  padding: 1.5rem !important;
}

.p-Clow {
  padding: 3rem !important;
}

.pt-Sakura {
  padding-top: 0 !important;
}

.pt-Keroberos {
  padding-top: 0.25rem !important;
}

.pt-Tomoyo {
  padding-top: 0.5rem !important;
}

.pt-Shaoran {
  padding-top: 1rem !important;
}

.pt-Yue {
  padding-top: 1.5rem !important;
}

.pt-Clow {
  padding-top: 3rem !important;
}

.pr-Sakura {
  padding-right: 0 !important;
}

.pr-Keroberos {
  padding-right: 0.25rem !important;
}

.pr-Tomoyo {
  padding-right: 0.5rem !important;
}

.pr-Shaoran {
  padding-right: 1rem !important;
}

.pr-Yue {
  padding-right: 1.5rem !important;
}

.pr-Clow {
  padding-right: 3rem !important;
}

.pb-Sakura {
  padding-bottom: 0 !important;
}

.pb-Keroberos {
  padding-bottom: 0.25rem !important;
}

.pb-Tomoyo {
  padding-bottom: 0.5rem !important;
}

.pb-Shaoran {
  padding-bottom: 1rem !important;
}

.pb-Yue {
  padding-bottom: 1.5rem !important;
}

.pb-Clow {
  padding-bottom: 3rem !important;
}

.pl-Sakura {
  padding-left: 0 !important;
}

.pl-Keroberos {
  padding-left: 0.25rem !important;
}

.pl-Tomoyo {
  padding-left: 0.5rem !important;
}

.pl-Shaoran {
  padding-left: 1rem !important;
}

.pl-Yue {
  padding-left: 1.5rem !important;
}

.pl-Clow {
  padding-left: 3rem !important;
}

.position-wind {
  position: static !important;
}

.position-jump {
  position: relative !important;
}

.position-fly {
  position: absolute !important;
}

.position-earthy {
  position: fixed !important;
}

.position-sticky {
  position: sticky !important;
}

/*# sourceMappingURL=_mover-element.css.map */
