// sombra a la izquierda
.shadow-left {
    box-shadow: -5px 0 5px rgba(0,0,0,0.2); //ajusta los valores según sea necesario
}

// sombra arriba
.shadow-top {
    box-shadow: 0 -5px 5px rgba(0,0,0,0.2); //ajusta los valores según sea necesario
}

// Bottom shadow (sombra abajo)
.shadow-bottom {
    box-shadow: 0 5px 5px rgba(0,0,0,0.2); // ajusta los valores según sea necesario
}

// Right shadow (sombra a la derecha)
.shadow-right {
    box-shadow: 5px 0 5px rgba(0,0,0,0.2); // (ajusta los valores según sea necesario
}

// sombra en forma de L (derecha-abajo)
.shadow-right-down {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2); //ajusta los valores según sea necesario
}

//sombra en forma de L (abajo-izquierda)
.shadow-down-left {
        box-shadow: -5px 5px 5px rgba(0,0,0,0.2); //ajusta los valores según sea necesario
}
