body {
    cursor: url("https://raw.githubusercontent.com/MirandaFuentes/Sakura-Card-Captor/main/Imagenes%20Sakura/Varita-mouse.png?token=GHSAT0AAAAAACRZPTDSLXT5R32BX7HHZCN4ZRUO2RQ"), auto;

    * {
        cursor: inherit;

        &:active {
            cursor: url("https://raw.githubusercontent.com/MirandaFuentes/Sakura-Card-Captor/main/Imagenes%20Sakura/Varita-mouse.png?token=GHSAT0AAAAAACRZPTDSLXT5R32BX7HHZCN4ZRUO2RQ"), auto;
        }
    }

    button {
        cursor: url("https://raw.githubusercontent.com/MirandaFuentes/Sakura-Card-Captor/main/Imagenes%20Sakura/Varita-mouse.png?token=GHSAT0AAAAAACRZPTDSLXT5R32BX7HHZCN4ZRUO2RQ"), auto;
    }
}

.navbar-vertical {
    height: 100%; // Ajusta este valor según tus necesidades
    overflow-y: auto; // Esto agregará una barra de desplazamiento vertical cuando el contenido supere el height

    &::-webkit-scrollbar {
        width: 8px; // Ancho de la barra de desplazamiento
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3); // Color del pulgar de la barra de desplazamiento
        border-radius: 4px; // Borde redondeado del pulgar
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.1); // Color del fondo de la barra de desplazamiento
    }

}