// Importamos los archivos necesarios

@use '../clases_utilitarias/sombras' as *;
@import '../clases_utilitarias/breakpoints';
@import '../clases_utilitarias/colores';
@import '../clases_utilitarias/fuentes';
@import '../clases_utilitarias/redondear';
@import '../clases_utilitarias/textos';


// Estilos para la barra de navegacion
.navbar {
  background-color: $color-Carta-Clow1;
  border: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .shadow-type3;

  .navbar-logo {
    width: 70px;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 50px;
  }
  
  .navbar-brand {
    color: $color_Sakura-hair;
    font-family: $font-family2;
    font-size: $medium;
    font-weight: $font-weight2;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: flex-end;
    
    .nav-item {
      .nav-link {
        color: $color-Carta-Clow2;
        font-family: $font-family1;
        font-size: $medium;
        text-decoration: none;
        font-weight: $font-weight2;
        padding: 10px;
        &:hover {
          color: $color_Sakura-ayes;
        }
      }
    }
  }

  // Estilos responsive utilizando mixins de breakpoints
  @include breakpoints_max(md) {
    // Estilos para tamaños de pantalla hasta md (768px)
    .navbar-logo {
      margin-left: 20px;
    }
    
    .navbar-nav {
      justify-content: center;
      
      .nav-item {
        margin-right: 10px;
      }
    }
  }
  
  @include breakpoints_max(sm) {
    // Estilos para tamaños de pantalla hasta sm (576px)
    .navbar-logo {
      margin-left: 10px;
      display: none;
    }
    
    .navbar-brand {
      display: none;
    }
  }
}
