//layout

@use '../clases_utilitarias/columnas-filas-grid';
@use '../clases_utilitarias/colores';
@use '../clases_utilitarias/margin-padding-border';
@use '../clases_utilitarias/movimiento-elemntos';
@use '../clases_utilitarias/sombras';

//Diseño de 4x4
.header{
    display: flex;
    flex-direction: column;
}

.contenido{
    @include columnas-filas-grid.area-col(1,2);
    @include columnas-filas-grid.area-row(2,3);
    height: 100%;
    margin: 1px 20px;
    padding:0px 40px;
    margin-top: 13vh;
    display: flex;
    justify-content: center;
}

.footer{
    @include columnas-filas-grid.area-col(1,2);
    @include columnas-filas-grid.area-row(3,4);
    background: #151c22;
    height: 200px;
    display: flex;
    align-items:center;

}

.container-izquierda {
    position: fixed; // Fija el container en la pantalla
    left: 0; // Ajusta el container a la izquierda
    top: 0; // Alinea el container en la parte superior de la pantalla
    height: 100vh; // Ajusta la altura del container para que abarque toda la pantalla
    width: 200px; // Ancho del container, ajusta según sea necesario
    background-color: colores.$color-Carta-Clow1; // Utiliza tus variables de colores
    padding: 20px; // Ajusta el relleno según sea necesario
    box-sizing: border-box; // Incluye el relleno en el ancho total del container
    z-index: 999; // Ajusta el z-index si es necesario para que el container esté por encima de otros elementos
}
    
.codigo{
    border: 5px solid #2c3e50;
    border-radius: 5px;
    background-color:white;
    color: red;
    width: 100%;
    height: auto;
}

.pre{
    border: 5px solid ;
    border: 5px solid #2c3e50;
    border-radius: 10px;
    background-color: #2c3e50;
    color:white;
    height: auto;
    .code{
        width: 100%;
        height: auto;
    }
}

@media (max-width: 952px){
    .pre{
        width: 50%;
    }
    .code{
        width: 50%;
        height: auto;
        font-size: 10px;
    }
}

@media (max-width: 858px){
    .pre{
        width: 100%;
        height: auto;
    }
    .code{
        width: 100%;
        height: auto;
    }
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    height: auto;
}

.table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    table-layout: fixed;
}

.table caption {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 8px 0px;
}

.table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
}

.table th, .table td {
    font-size: 16px;
    padding: 8px;
    text-align: center;
}

.table thead th{ 
    text-transform: uppercase;
    background-color: #ddd;
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.table tbody td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 600px) {
    .table {
        border: 0px;
    }
    .table caption {
        font-size: 22px;
    }
    .table thead {
        display: none;
    }
    .table tr {
        margin-bottom: 8px;
        border-bottom: 4px solid #ddd;
        display: block;
    }
    .table th, .table td {
        font-size: 12px;
    }
    .table td {
        display: block;
        border-bottom: 1px solid #ddd;
        text-align: right;
    }
    .table  td:last-child {
        border-bottom: 0px;
    }
    .table td::before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        float: left;
    }
}

img{
    width: 100%;
    height: auto;
}
hr{
    border: 3px #151c22 solid;
    border-radius: 5px;
    height: 10pxs;
}

.Ñogo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.logo_footer{
    margin: 20px;
    width: 20%;
    height: 20%;
    
}

.Todo{
    margin: 10px;
    padding: 20px;
}